@model FT_MarketStore.Models.Category

@{
    ViewData["Title"] = "Edit";
    
    Layout = "~/Views/Shared/_ AdminLayout.cshtml";
        var roleId = ViewBag.RoleId;
	var userId = ViewBag.userId; 
}
<br />
<h1 style="position:relative;left:50px; color:white">Edit Category</h1>
<hr />
<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary btn-block text-uppercase">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
